#### Importing packages

In [1]:
# Importing the neccessary packages for this python test
import pandas as pd # Used for data manipulation
import numpy as np # Used for scientific and mathematical calculations

#### Loading of data files

In [2]:
# load both feed_sampled and comment_sampled data files
df1 = pd.read_csv('feed_sampled.csv', sep = '\t')
df2 = pd.read_csv('comment_sampled.csv', sep = '\t')

#### Datetime conversion

In [3]:
# Ensure that the datetime columns are in the correct format by converting them for both data files
df1.ctime = pd.to_datetime(df1.ctime, format='%Y-%m-%d %H:%M:%S.%f')
df2.ctime = pd.to_datetime(df2.ctime, format='%Y-%m-%d %H:%M:%S.%f')

# Alternatively, using a simpler datetime format conversion is also acceptable
#df1.ctime = pd.to_datetime(df1.ctime)
#df2.ctime = pd.to_datetime(df2.ctime)

#### Checking and observation of data files before answering the python test

In [4]:
# Let's check and observe the field names of feed_sampled
df1.head()

           feed_id           sid                   ctime
0  637571018529792  7.272785e+08 2019-11-25 17:30:48.178
1  640216301880832  6.619061e+08 2019-11-27 14:22:01.848
2  640710172295168  1.362198e+09 2019-11-28 11:24:14.136
3  640423531136000  2.035232e+09 2019-11-27 17:52:46.438
4  638947703495680  2.042944e+07 2019-11-26 16:51:15.095

In [5]:
# Let's check and observe the field names of comment_sampled
df2.head()

,comment_id,feed_id,userid,comment,ctime
0,648483703948288,643284733706752,6.527952e+08,MAU DONG + 37 + @ovagenta @rendynalacktax2159 ...,2019-12-03 10:31:44.197
1,640929915879936,640678392938496,1.186427e+09,MAU,2019-11-28 02:27:37.560
2,648918406792704,646101661729792,1.374033e+09,Mau üòçüòç @sii.595 @entik95 @laila_sftr123 #1212m...,2019-12-03 17:53:56.353
3,642919965360128,620842958281216,1.214863e+09,Spoon gid nya redy n brapa gram kak,2019-11-29 12:12:00.543
4,646944528843264,644812509675520,3.239296e+08,MASKER HERBAL..Ayo ikutan giveaway ini @pettro...,2019-12-02 08:26:00.412

In [6]:
# Let's check and observe the basic description of feed_sampled
df1.describe()

            feed_id           sid
count  3.209000e+03  3.209000e+03
mean   6.401802e+14  9.079462e+08
std    2.219859e+12  7.048085e+08
min    6.107112e+14  1.060560e+05
25%    6.386238e+14  2.223818e+08
50%    6.402153e+14  7.924330e+08
75%    6.418986e+14  1.609011e+09
max    6.436120e+14  2.042901e+09

In [7]:
# Let's check and observe the basic description of comment_sampled
df2.describe()

         comment_id       feed_id        userid
count  1.117800e+04  1.117800e+04  1.117800e+04
mean   6.435870e+14  6.353781e+14  1.037153e+09
std    3.446817e+12  2.246176e+13  6.270280e+08
min    6.365399e+14  2.570182e+14  2.297949e+06
25%    6.411539e+14  6.372934e+14  4.606737e+08
50%    6.432589e+14  6.402656e+14  1.023536e+09
75%    6.468493e+14  6.443926e+14  1.631185e+09
max    6.492777e+14  6.492124e+14  2.055829e+09

In [8]:
# Let's check and observe the basic info of feed_sampled
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3209 entries, 0 to 3208
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   feed_id  3209 non-null   int64
 1   sid      3209 non-null   float64
 2   ctime    3209 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 75.3 KB

In [9]:
# Let's check and observe the basic info of comment_sampled
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11178 entries, 0 to 11177
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   comment_id  11178 non-null  int64
 1   feed_id     11178 non-null  int64
 2   userid      11178 non-null  float64
 3   comment     11178 non-null  object
 4   ctime       11178 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 436.8+ KB

In [10]:
# Let's check for any missing values in the feed_sampled dataframe
df1.isna().sum()

feed_id    0
sid        0
ctime      0
dtype: int64

In [11]:
# Let's check for any missing values in the comment_sampled dataframe
df2.isna().sum()
print("\n")

### Question 1
How many feed posts received comments within 3 days after creating?

In [12]:
# Since we require data from both dataframes to solve this question, we shall merge them with feed_id being the primary key.
# We shall use inner join for this question.
df3 = pd.merge(df1, df2, on ='feed_id', how ='inner')
df3.head()

,feed_id,sid,ctime_x,comment_id,userid,comment,ctime_y
0,642643935314432,1.576301e+08,2019-11-29 07:32:15.450,642752804275712,3.494667e+08,Syarat join apa mba?,2019-11-29 09:21:57.837
1,639266217417216,2.035549e+07,2019-11-26 22:15:16.741,641852982313472,1.374033e+09,Pengen bgtüòç,2019-11-28 18:06:37.064
2,639112465619456,1.825601e+09,2019-11-26 19:38:51.416,647577130631680,1.871525e+09,kunfayakun jadi milik ku@ahmadhendrayadin@asri...,2019-12-02 19:09:31.352
3,639112465619456,1.825601e+09,2019-11-26 19:38:51.416,645558631399424,1.532973e+09,Smoga sya yg berntung@aliykhirana @salwaasma77...,2019-12-01 08:56:11.939
4,639112465619456,1.825601e+09,2019-11-26 19:38:51.416,642938990559232,1.989580e+09,Mau...@wulanfea @mulandoang @khumaira_30üß°,2019-11-29 12:31:21.749

In [13]:
# ctime_x refers to feed time
# ctime_y refers to comment time
# However, it might be a bit hard to remember/identify them like this
# So, let's rename these two columns for better documentation.

df3 = df3.rename(columns = {'ctime_x': 'feed_ctime', 'ctime_y': 'comment_ctime'}, inplace = False)
df3.head()

,feed_id,sid,feed_ctime,comment_id,userid,comment,comment_ctime
0,642643935314432,1.576301e+08,2019-11-29 07:32:15.450,642752804275712,3.494667e+08,Syarat join apa mba?,2019-11-29 09:21:57.837
1,639266217417216,2.035549e+07,2019-11-26 22:15:16.741,641852982313472,1.374033e+09,Pengen bgtüòç,2019-11-28 18:06:37.064
2,639112465619456,1.825601e+09,2019-11-26 19:38:51.416,647577130631680,1.871525e+09,kunfayakun jadi milik ku@ahmadhendrayadin@asri...,2019-12-02 19:09:31.352
3,639112465619456,1.825601e+09,2019-11-26 19:38:51.416,645558631399424,1.532973e+09,Smoga sya yg berntung@aliykhirana @salwaasma77...,2019-12-01 08:56:11.939
4,639112465619456,1.825601e+09,2019-11-26 19:38:51.416,642938990559232,1.989580e+09,Mau...@wulanfea @mulandoang @khumaira_30üß°,2019-11-29 12:31:21.749

In [14]:
# Since the question is asking for the number of feed posts received within 3 days after its creation,
# we will first have to find the time difference between them.
df3['time_difference'] = (df3.comment_ctime - df3.feed_ctime)
df3.head()

,feed_id,sid,feed_ctime,comment_id,userid,comment,comment_ctime,time_difference
0,642643935314432,1.576301e+08,2019-11-29 07:32:15.450,642752804275712,3.494667e+08,Syarat join apa mba?,2019-11-29 09:21:57.837,0 days 01:49:42.387000
1,639266217417216,2.035549e+07,2019-11-26 22:15:16.741,641852982313472,1.374033e+09,Pengen bgtüòç,2019-11-28 18:06:37.064,1 days 19:51:20.323000
2,639112465619456,1.825601e+09,2019-11-26 19:38:51.416,647577130631680,1.871525e+09,kunfayakun jadi milik ku@ahmadhendrayadin@asri...,2019-12-02 19:09:31.352,5 days 23:30:39.936000
3,639112465619456,1.825601e+09,2019-11-26 19:38:51.416,645558631399424,1.532973e+09,Smoga sya yg berntung@aliykhirana @salwaasma77...,2019-12-01 08:56:11.939,4 days 13:17:20.523000
4,639112465619456,1.825601e+09,2019-11-26 19:38:51.416,642938990559232,1.989580e+09,Mau...@wulanfea @mulandoang @khumaira_30üß°,2019-11-29 12:31:21.749,2 days 16:52:30.333000

In [15]:
# From there, we can then filter those that are within 3 days.
# We can import the timedelta to assist us with this.
from datetime import date, timedelta  
df_3days = df3.loc[(df3.time_difference < timedelta(days=3))]
df_3days.head()

,feed_id,sid,feed_ctime,comment_id,userid,comment,comment_ctime,time_difference
0,642643935314432,1.576301e+08,2019-11-29 07:32:15.450,642752804275712,3.494667e+08,Syarat join apa mba?,2019-11-29 09:21:57.837,0 days 01:49:42.387000
1,639266217417216,2.035549e+07,2019-11-26 22:15:16.741,641852982313472,1.374033e+09,Pengen bgtüòç,2019-11-28 18:06:37.064,1 days 19:51:20.323000
4,639112465619456,1.825601e+09,2019-11-26 19:38:51.416,642938990559232,1.989580e+09,Mau...@wulanfea @mulandoang @khumaira_30üß°,2019-11-29 12:31:21.749,2 days 16:52:30.333000
10,639112465619456,1.825601e+09,2019-11-26 19:38:51.416,642525137176064,3.404212e+08,Wish me luck üôè @yusioei @julia_paopao @santy_o...,2019-11-29 05:30:22.151,2 days 09:51:30.735000
12,639112465619456,1.825601e+09,2019-11-26 19:38:51.416,641283712532992,1.989580e+09,Bismillah....mau bgt @khumaira_30 @wulanfea @d...,2019-11-28 08:27:31.595,1 days 12:48:40.179000

In [16]:
df_3days.shape

(101, 8)

In [17]:
# A reminder to note is that if we observe row 4, 10 and 12, we can see feed_id 639112465619456 appearing more than once.
# This means that while we have filtered feed_ids within 3 days, we cannot use the total count of rows 101 as the answer since
# we will be included duplicated counts of unique feed_ids that have appeared more than once.
# To resolve this, we will do a unique count on feed_id.
# nunique() can help us do this.

q1 = df_3days["feed_id"].nunique()

print("The number of feed posts received comments within 3 days after creating: {}".format(q1))    
print("\n")

The number of feed posts received comments within 3 days after creating: 18

### Question 2
How many users left comments, and how many comments they made? Summarize the result by date.

The result table should have date, user id and comment id.

The field names are to be named as cdate, Count_of_userid, Count_of_comment_id.

In [18]:
# This question does not require the use of the merged dataframe (df3) to determine the answer.
# We can use comment_sampled (df2) instead. It is sufficient.

# Since the question wants the result by date, we will have to create a date column from the ctime column.
df2['cdate'] = df2.ctime.dt.date
df2.head()

,comment_id,feed_id,userid,comment,ctime,cdate
0,648483703948288,643284733706752,6.527952e+08,MAU DONG + 37 + @ovagenta @rendynalacktax2159 ...,2019-12-03 10:31:44.197,2019-12-03
1,640929915879936,640678392938496,1.186427e+09,MAU,2019-11-28 02:27:37.560,2019-11-28
2,648918406792704,646101661729792,1.374033e+09,Mau üòçüòç @sii.595 @entik95 @laila_sftr123 #1212m...,2019-12-03 17:53:56.353,2019-12-03
3,642919965360128,620842958281216,1.214863e+09,Spoon gid nya redy n brapa gram kak,2019-11-29 12:12:00.543,2019-11-29
4,646944528843264,644812509675520,3.239296e+08,MASKER HERBAL..Ayo ikutan giveaway ini @pettro...,2019-12-02 08:26:00.412,2019-12-02

In [19]:
# Next, we will group by date and count the required values using Groupby.
q2 = df2.groupby(['cdate']).count()
q2.head()

            comment_id  feed_id  userid  comment  ctime
cdate
2019-11-25         757      757     757      757    757
2019-11-26         764      764     764      764    764
2019-11-27        1043     1043    1043     1043   1043
2019-11-28        1939     1939    1939     1939   1939
2019-11-29        1454     1454    1454     1454   1454

In [20]:
# Since the question is only interested in user_id and comment_id, we will have to select those columns.
q2 = q2[['userid','comment_id']]
q2.head()

            userid  comment_id
cdate
2019-11-25     757         757
2019-11-26     764         764
2019-11-27    1043        1043
2019-11-28    1939        1939
2019-11-29    1454        1454

In [21]:
# Lastly, the question wants us to rename the columns as part of the result table.
q2.columns = ['count_of_userid','count_of_comment_id'] # rename columns
print("The result table:")
print(q2)
print("\n")

The result table:
            count_of_userid  count_of_comment_id
cdate
2019-11-25              757                  757
2019-11-26              764                  764
2019-11-27             1043                 1043
2019-11-28             1939                 1939
2019-11-29             1454                 1454
2019-11-30             1096                 1096
2019-12-01             1144                 1144
2019-12-02             1527                 1527
2019-12-03             1454                 1454

### Question 3
How many % of comments contains the symbol # under the feeds which were created on the 2019-11-29?

Note: The answer should be stored with 2-digits precision. For example, if the result is 0.17626,
you should convert it as 0.18.

Return the result as a 2 digit precision number.

In [22]:
# This question does not require the use of the merged dataframe (df3) to determine the answer.
# We can use comment_sampled (df2) instead. It is sufficient.

# First, let's filter the data where date is 2019-11-29.
# pd.to_datetime to be used on '2019-11-29' otherwise result will return blank since its not recognized in datetime format.
nov29_df2 = df2[df2['cdate'] == pd.to_datetime("2019-11-29")]

# Alternatively, using iloc to filter for '2019-11-29' is also acceptable.
#nov29_df2 = df2.iloc[df2.cdate.values==pd.to_datetime("2019-11-29")]

nov29_df2.head()

,comment_id,feed_id,userid,comment,ctime,cdate
3,642919965360128,620842958281216,1.214863e+09,Spoon gid nya redy n brapa gram kak,2019-11-29 12:12:00.543,2019-11-29
6,643365576541696,640265603448832,1.463211e+09,Warna baju dan warna hp #shopeefeedgiveaway,2019-11-29 19:45:18.490,2019-11-29
17,642670498874880,623370123369984,1.006601e+09,MAU Kak Bismillah semoga beruntung #Bindervuit...,2019-11-29 07:58:14.315,2019-11-29
22,642626772846080,640265603448832,1.719768e+09,warn handphone dan jersey nya,2019-11-29 07:13:45.492,2019-11-29
24,642637460127744,630348059713024,1.685830e+09,Frozen II#shopeefeedgiveaway,2019-11-29 07:24:37.794,2019-11-29

In [23]:
# Since the question is interested to know how many % of comments contains the symbol #,
# after filtering by date, all that is needed left are:
    # a. the count of comments that contain the symbol # on 2019-11-29
    # b. the count of comments on 2019-11-29
    # c. determine the % by dividing a over b.

# With that, we can use str.find. to determine a.
symbol_list = nov29_df2.comment.str.find('#')>=0

# We use sum instead of count to find number of symbol # as true boolean equals to 1.
cnt_comments_symbol = sum(symbol_list)

print("a. There are " + str(cnt_comments_symbol) + " comments that contain the symbol # on 2019-11-29.")

a. There are 737 comments that contain the symbol # on 2019-11-29.

In [24]:
# For determining b, we can do this:
cnt_comments = nov29_df2['comment'].count()
print("b. There are " + str(cnt_comments) + " comments on 2019-11-29.")

b. There are 1454 comments on 2019-11-29.

In [25]:
# For determining c, we can just divide a over b.
# Let's not forget to set the precision number as 2 as well using round.
q3 = round(100*cnt_comments_symbol/cnt_comments,2)

# An alternate way to solve question 3 (much faster too) is to simply combine all steps and assign it as a variable to q3.
#q3 = round(100*sum(s_df2.comment.str.find('#')>=0)/len(s_df2.comment.values),2)

print(str(q3) + "% of the comments contains the symbol # under the feeds which were created on the 2019-11-29.")
print("\n")

50.69% of the comments contains the symbol # under the feeds which were created on the 2019-11-29.

### Question 4

There are two types of abnormal comment reported by local ops team.

(1) Spam comment: It means that a user posts the same comments to more than or equal to 2 feed,
but if the comments are lucky draw, then we don‚Äôt treat them as the spam.

(2) Lucky draw comment: It means that there are more than or equal to 2 users post the same 
comments at same feed post. In that case, we think users are participating in seller‚Äôs lucky draw, which is a normal campaign.

You are required to write a function spam_finder to help them monitor the spam message.

Please use this function to find the spam message from feed_comment.csv and assign the result to Q4.

.

def spam_finder(comment_df):

"""

input: dataframe contains the columns with 'userid', 'comment' and 'feed_id'

output: dataframe contains the columns with ‚Äòuserid‚Äô, ‚Äòcomment‚Äô, ‚Äòcount_feed_id‚Äô and sort by

count_feed_id descendingly

"""

return spam_df

In [26]:
# This question does not require the use of the merged dataframe (df3) to determine the answer.
# We can use comment_sampled (df2) instead. It is sufficient.

# To clarify, this question is interested in wanting us to create a function called spam_finder that can:
    # a. read a dataframe input that contains the mentioned columns
    # b. pick up userids that have 2 counts of the same comment or more by feed_id
    # c. sort the counts of feed_id in descending order
    # d. rename the count of feed_id as count_feed_id
    # e. assign the function result to a variable table and name it spam_df
# With that, we can then finally test the spam_finder function by feeding it the required input table to return spam_df.

# Firstly for a, let's create the required input table to feed into the function.
comment_df = df2[['userid', 'comment','feed_id']]
comment_df.head()

,userid,comment,feed_id
0,6.527952e+08,MAU DONG + 37 + @ovagenta @rendynalacktax2159 ...,643284733706752
1,1.186427e+09,MAU,640678392938496
2,1.374033e+09,Mau üòçüòç @sii.595 @entik95 @laila_sftr123 #1212m...,646101661729792
3,1.214863e+09,Spoon gid nya redy n brapa gram kak,620842958281216
4,3.239296e+08,MASKER HERBAL..Ayo ikutan giveaway ini @pettro...,644812509675520

In [27]:
# For b, c, d, e: we shall solve them while defining our spam_finder function.

# To clarify how our function will work...
# We will use group by to group all data by userid and comment.
# Then, if we have several equal comments we will have feed_id>=2.
# If we have several userid for the same comment we will also have feed_id>=2.
# Thus, by using feed_id>=2 on the grouped data, we are able to carry out both rules.



def spam_finder(comment_df):
# For b, userid and comment will have to be distinct while determining count of feed_id.
# Therefore, we will use groupby on the 2 required columns to make them distinct.

    grouped_df = comment_df.groupby(['userid','comment']).count()
    #grouped_df.head()
    
# Continuing on b, we keep count of feed_id equals to or greater than 2.
# For c, we try to sort it in descending order on the same line of code.
   
    grouped_df = grouped_df[grouped_df.feed_id>=2].sort_values(by='feed_id', axis=0, ascending=False)
    #grouped_df.head()
    
# For d, we rename the column name of feed_id.
    grouped_df.columns = ['count_feed_id']
    #grouped_df.head()
    
# For e, we assign the function result to a variable table and name it spam_df
    spam_df = grouped_df
    #spam_df
    return spam_df

In [28]:
# Finally, we use the newly defined spam_finder function by feeding it the input table comment_df.
q4 = spam_finder(comment_df)
pd.options.display.float_format = '{:.21}'.format
q4
# save to file
#q4.to_csv('feed_comment.csv')

                                                                 count_feed_id
userid       comment
485556432.0  semoga menang iphone xr, samsung note 10 ato ip...             94
1857378705.0 Bingung mau cari perlengkapan rumah tangga yang...             88
340421153.0  Wish me luck üôè @yusioei @julia_paopao @santy_oneng             72
1903896209.0 Gamis, tunik, cardigan, blouse, setelan wanita,...             65
464865543.0  Mau @ikanrmlprtm16 @risadwrydi @intanberthaa                   49
...                                                                        ...
1006601298.0 Siapa sihh yang gk MAU produk super duper berku...              2
             ‚ù§ MAU NO 37‚ù§@amyaniayam@sestuwida                               2
             ‚ù§ MAU ‚ù§ @amyaniayam@isma_mufida @sestuwida @aiy...              2
1013536689.0 Jawabannya adalah ..‚úì MASKER HERBAL ‚úì Yuk ikuta...              2
2052395697.0 Merah #shopeefeed                                               2

[865 rows x 1 columns]